body {
	font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
		sans-serif;
	font-weight: 400;
	font-style: normal;
}

button:active {
	outline: none;
}
.wrapper {
	background: url('../img/bg.png') no-repeat center top/100% 300px,
		linear-gradient(60deg, rgba(85, 150, 255, 1) 0%, rgba(172, 45, 235, 1) 100%)
			no-repeat top/100% 300px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	max-width: 730px;
	width: 100%;
	padding: 70px 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 35px;
}

.hidden {
	display: none !important;
}

.input-wrapper {
	padding: 20px 24px;
	background-color: var(--bg);
	border-radius: 5px;
}
.input-wrapper__input {
	background-color: inherit;
	width: 100%;
	border: 1px solid var(--bg);
	outline: none;
}
