.task__text {
	position: relative;
	width: 100%;
	padding-left: 40px;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.task__text,
.custom-checkbox {
	cursor: pointer;
}
.custom-checkbox + .task__text {
	display: inline-flex;
	align-items: center;
	user-select: none;
	padding: 20px 24px;
	padding-left: 60px;
}
.custom-checkbox + .task__text::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #979797;
	border-radius: 50%;
	background-position: center center;

	position: absolute;
	left: 20px;
}

.custom-checkbox:checked + .task__text::before {
	background-image: url('../../img/checkbox.png');
}
.custom-checkbox:checked + .task__text {
	text-decoration: line-through;
	color: #d1d2da;
}
